.banner{font-family: 'Lucida Sans Regular';
font-style: oblique;}
.banner2{font-family: 'Lucida Sans Regular';
font-size: 30px;
font-style: italic;}
.banner3{font-family: Helvetica;
font-size: 20px;
font-style: oblique;}
.titulotabla{font-family: 'Lucida Sans Regular';
font-size: 30px;
font-style: italic;}
.table{font-family: Helvetica;
font-size: 20px;
font-style: oblique;}
.carrusel{font-family: 'Lucida Sans Regular';
font-size: 30px;
font-style: italic;}
.cartas{font-family: 'Helvetica';
font-size: 18px;
font-style: oblique;}